body {
    display: flex;
    justify-content: space-around;
}

#display-profitability-percentage {
    background-color: greenyellow;
    border-radius: 8px;
}

.display-data {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.display-results {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}