/*Variables*/
:root {
    --primary-color: #333;
    --secondary-color: #ddd;
    --tertiary-color: #f7f7f7;
    --background-color: #fff;
}

[data-theme="dark"] {
    --primary-color: #ddd;
    --secondary-color: #444;
    --tertiary-color: #292929;
    --background-color: #222;
}

/* Mobile Mode */
@media screen and (max-width: 600px) {
    body {
        background-color: var(--background-color);
    }
    h1 {
        color: var(--primary-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin: 16px 0;
    }

    h2 {
        color: var(--primary-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 12px auto;
    }

    label {
        color: var(--primary-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        /* background-color: yellowgreen; */
        margin: 0 0 4px 0;
    }

    button {
        border-radius: 8px;
        border: none;
    }
    #all-items {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow: scroll;
        height: 88%;
        width: 100%;
        background-color: var(--background-color);
    }

    .item-input {
        background-color: var(--tertiary-color);
        border-radius: 8px;
        padding: 16px 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 12px auto;
        width: 100%;
    }

    .input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
        width: 90%;
        margin: 4px auto;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #header button {
        position: absolute;
        top: 24px;
        right: 10px;
        cursor: pointer;
        padding: 4px 12px;
        border-radius: 8px;
        border: solid 1px var(--primary-color);
        background-color: var(--background-color);
        color: var(--primary-color);
        font-weight: bold;
    }

    input {
        width: 20%;
        margin: 0 4px;
        height: 32px;
        border-radius: 8px;
        color: var(--primary-color);
        text-align: center;
        border: 1px solid var(--primary-color);
        background-color: var(--tertiary-color);

    }

    .input button {
        width: 80%;
        background-color: var(--secondary-color);
        font-weight: bold;
    }

    .result {
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        margin: 16px auto 0 auto;
        padding: 16px 0 0 0;
        width: 100%;
        background-color: var(--background-color);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .result-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        gap: 4px;
    }

    .calc-btn {
        width: 88%;
        height: 40px;
        background-color: green;
        border: solid 1px green;
        border-radius: 8px;
        color: var(--background-color);
        font-size: 16px;
        font-weight: bold;
    }

    .reset-btn {
        width: 12%;
        height: 40px;
        border: solid 1px coral;
        background-color: var(--background-color);
        border-radius: 8px;
        color: coral;
        font-size: 16px;
        font-weight: bold;
    }

}

/* Desktop Mode */
@media screen and (min-width: 600px) {
    body {
        background-color: var(--tertiary-color);
    }
    h1 {
        color: var(--primary-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin: 32px 0;
    }

    h2 {
        color: var(--primary-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 16px auto;
    }

    label {
        color: var(--primary-color);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        /* background-color: yellowgreen; */
        margin: 0 0 4px 0;
    }

    button {
        border-radius: 8px;
        border: none;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #header button {
        position: absolute;
        top: 24px;
        right: 10px;
        cursor: pointer;
        padding: 4px 12px;
        border-radius: 8px;
        border: solid 1px var(--primary-color);
        background-color: var(--background-color);
        color: var(--primary-color);
        font-weight: bold;
    }

    #all-items {
        z-index: 0;
        position: fixed;
        overflow: scroll;
        top: 0;
        height: 93%;
        width: 100%;
        background-color: var(--background-color);
    }

    .item-input {
        background-color: var(--tertiary-color);
        border-radius: 8px;
        padding: 16px 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 12px auto;
        width: 600px;
    }

    .input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
        width: 90%;
        margin: 4px auto;
    }

    input {
        width: 20%;
        margin: 0 4px;
        height: 32px;
        border-radius: 8px;
        text-align: center;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        background-color: var(--tertiary-color);

    }

    .input button {
        width: 80%;
        background-color: var(--secondary-color);
        font-weight: bold;
    }

    .result {
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        margin: 16px auto 0 auto;
        padding: 16px 0 0 0;
        width: 100%;
        background-color: var(--background-color);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .result-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
        gap: 4px;
    }

    .calc-btn {
        width: 88%;
        height: 40px;
        background-color: green;
        border: solid 1px green;
        border-radius: 8px;
        color: var(--background-color);
        font-size: 16px;
        font-weight: bold;
    }

    .reset-btn {
        width: 12%;
        height: 40px;
        border: solid 1px coral;
        background-color: var(--background-color);
        border-radius: 8px;
        color: coral;
        font-size: 16px;
        font-weight: bold;
    }
}

/* Pseudo Classes */
.input button:hover {
    background-color: #777;
    color: var(--background-color);
}

.input button:active {
    background-color: #000;
    color: var(--background-color);
}

.calc-btn:hover {
    background-color: #444;
    color: var(--background-color);
}

.calc-btn:active {
    background-color: #000;
    color: var(--background-color);
}

.reset-btn:hover {
    background-color: #444;
    color: var(--background-color);
}

.reset-btn:active {
    background-color: #000;
    color: var(--background-color);
}


/* Dark Mode Classes */

/* .dark-mode {
    background-color: #232323;
    color: #fff;
}
h1 .dark-mode {
    color: #fff;
}

h2 .dark-mode {
    color: #fff;
}

label .dark-mode {
    color: #fff;
    background-color: #333;
}

.item-input .dark-mode {
    background-color: #333;
}

input .dark-mode {
    border: 1px solid #fff;
    background-color: #333;

}

.input button .dark-mode {
    background-color: #444;
}

.result .dark-mode {
    background-color: #333;
}

.calc-btn .dark-mode {
    width: 88%;
    height: 40px;
    background-color: green;
    border: solid 1px green;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.reset-btn .dark-mode {
    width: 12%;
    height: 40px;
    border: solid 1px coral;
    background-color: #333;
    border-radius: 8px;
    color: coral;
    font-size: 16px;
    font-weight: bold;
} */