/* Normal Mode */
@media screen and (max-width: 600px) {
    body {
        background-color: #f7f7f7;
    }
    h1 {
        color: #333;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin: 16px 0;
    }

    h2 {
        color: #333;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 12px auto;
    }

    label {
        color: #333;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        /* background-color: yellowgreen; */
        margin: 0 0 4px 0;
    }

    button {
        border-radius: 8px;
        border: none;
    }

    #all-items {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow: scroll;
        height: 84%;
        width: 100%;
    }

    .item-input {
        background-color: #fff;
        border-radius: 8px;
        padding: 16px 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 12px auto;
        width: 100%;
    }

    .input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
        width: 90%;
        margin: 4px auto;
    }

    input {
        width: 20%;
        margin: 0 4px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid #333;
        background-color: #f7f7f7;

    }

    .input button {
        width: 80%;
        background-color: #ddd;
        font-weight: bold;
    }

    #result {
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        margin: 16px auto 0 auto;
        padding: 16px 0 0 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .result-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        gap: 4px;
    }

    .calc-btn {
        width: 88%;
        height: 40px;
        background-color: green;
        border: solid 1px green;
        border-radius: 8px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }

    .reset-btn {
        width: 12%;
        height: 40px;
        border: solid 1px coral;
        background-color: #fff;
        border-radius: 8px;
        color: coral;
        font-size: 16px;
        font-weight: bold;
    }

}

@media screen and (min-width: 600px) {
    body {
        background-color: red;
    }
}